/** RESET **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** COMMON ***/
body {
  font-family: 'PT Sans', sans-serif;
}

/* limite larghezza per desktop */
.desktop-max-w {
  max-width: 1170px;
  margin: 0 auto;
}

.padding-mobile {
  padding-left: 2rem;
  padding-right: 2rem;
}

/****** HEADER ******/

header {
  height: 80px;
  background-color: #0084fd;
  color: white;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* main menu visibile solo in desktop */
.main-menu {
  display: none;
}

/****** MAIN ******/
/* padding generale delle sezioni */
section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
section:nth-child(even) {
  background-color: #9792e4;
}

/* sezione features */

.features {
  /* todo test */
  background-color: bisque;
}

.features-columns {
  /* todo test */
  background-color: aquamarine;
}

.features-card {
  margin-bottom: 1rem;
}
.features-columns:nth-child(5) .features-card {
  margin-bottom: 0;
}

/* sezione strategic */
.strategic-card {
  margin-bottom: 1rem;
}
.strategic-col:last-child .strategic-card {
  margin-bottom: 0;
}

.strategic-col {
  /* todo test */
  border: 1px solid red;

  background-color: chartreuse;
}

/* sezione testimonials */
.testimonials {
  text-align: center;
}
.testimonials h2 {
  padding: 2rem 0;
}
.testimonials p:last-of-type {
  padding-bottom: 2rem;
}

.testimonials-card {
  margin-bottom: 1rem;
  /* todo test */
  border: 1px solid red;
}
.testimonials-card:last-of-type {
  margin-bottom: 0;
}

/* sezione benefits */
.benefits {
  text-align: center;
}

.benefits h2 {
  margin-bottom: 2rem;
  color: white;
}
.benefits-card {
  margin-bottom: 1rem;

  /* todo test */
  border: 1px solid red;
  background-color: coral;
}
.benefits-columns:nth-child(6) .benefits-card {
  margin-bottom: 0;
}

/* sezione about */
.about-col {
  /* todo test */
  border: 1px solid red;
}

/* sezione started */
.started {
  text-align: center;
  color: white;
}

.started h2 {
  color: #fdc15f;
}

/****** FOOTER ******/
footer {
  text-align: center;
  background-color: #333333;
}

footer div {
  padding: 1rem 0;
  color: white;
}

/******** PARTE RESPONSIVE ********/

/* Layout Tablet */
@media screen and (min-width: 768px) {
  .features-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .features-col {
    width: calc(100% / 3);
    padding: 0 1rem;
  }
  .features-col:first-child {
    width: calc((100% / 3) * 2);
  }
  .benefits-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .benefits-col {
    width: calc(50% - 1rem);
  }
  .about-columns {
    display: flex;
    flex-wrap: wrap;
  }
  .about-col {
    width: 50%;
    padding: 0 1rem;
  }
  /* larghezza massima contenuto ultima section e footer */
  .bottom-box {
    width: 500px;
  }
}

/* Layout Desktop */

@media screen and (min-width: 992px) {
  /* header */
  .burger {
    display: none;
  }
  .main-menu {
    display: block;
  }

  /* main */
  .strategic-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
  }
  .strategic-col {
    width: 50%;
    padding: 1rem;
  }
  .benefits-col {
    width: calc((100% / 3) - 1rem);
  }
}

/* ? colonne sezione about più distanziate in desktop? */
